<%- include("partials/header"); -%>
<body>
   <div id="container">
      <%- include("partials/navbar"); -%>
      <main>
         <h2><%=storedTitle%></h2>
         <p><%=storedPost%></p>
      </main>
      <%- include("partials/footer"); -%>
   </div>
</body>
